.nav{
    display: flex;
    height: 80px;
    text-decoration:none;
    margin-left: 164px;
    margin-right: 143px;
}
/* .nav-nav{
    max-width: 1400px;
} */
/* .content-container{
    max-width: 1200px;
} */
#app-logo{
    height: 40px;
    margin-right: 16px;
    /* padding-left: 146px; */
}
#pd{
    font-weight: 600;
    margin-left: 0;
}
#rs{
    margin-right: 0;
}
.row{
    display: flex;
    flex-direction: row;
}
.row-centered{
    align-items: center;
}
.app-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    color: #173A56;
}
.nav-links-container > a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    margin: 0 10px;
}
.nav-bar-wrapper{
    justify-content: space-between;
    width: 100%;
}
#burger{
    display: none;
}
.primary-button{
    background-color: #02897A;
    height: 43px;
    width: 110px;
    margin-right: 24px;
}
.secundary-button{
    height: 43px;
    width: 110px;
    margin: 0 24px;
}
#chh{
    width: 32px;
    height: 32px;
}
.whsp{
    flex-grow: 1;
}
.green-block{
    margin-left: 223px;
    margin-right: 209px;
    margin-bottom: 150px;
    background-color: #02897A;
    height: 345px;
    border-radius: 32px;
}
.gb-ttl{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    width: 510px;
    margin-left: 51px;
    margin-top: 49px;
}
.gt-button{
    margin-left: 51px;
    margin-bottom: 56px;
    background-color: #FFFFFF;
    color: #02897A;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    margin-top: 50px;
}
.backg-gr{
    background-color: #EDFFFC;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.name2{
    margin-left: 16px;
}
.pad-t2-0{
    margin-top: 25px;
}
.btm-res{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}
.btm-list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}
.pad-left{
    margin-left: 129px;
}
.last-btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #02897A;
    border: 0;
    width: 131px;
    height: 39px;
}
#menu-collapse{
    display: none;
}
.input{
    width: 325px;
    height: 48px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    margin-top: 34px;
    margin-bottom: 21px;
    border-radius: 5px;
    border: 0;
}
.motto{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
    width: 280px;
}
@media screen and (max-width :600px) {
    .nav-bar-wrapper > .button-container{
        position: absolute;
        width: 100%;
        top: 80px;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        left:0px;
        right:0 px;
    }
    .two-buttons{
        flex-direction: column;
    }
    .secundary-button{
        margin: 8px 0 0 0;
    }
    .primary-button{
        margin: 10px 0 0 0;
    }
    .nav-links-container{
        flex-direction: column;
    }
    .chestie{
        justify-content: center;
        width: 100%;
    }
    #burger{
        display: flex;
        height: 100%;
        justify-content: center;
    }
    .nush{
        width: 28px;
        height: 31px;
    }
    .hmm-width{
        width: 100%;
    }
    .nav{
        padding: 0 30px;
        margin:0;
    }
    .nav > #menu-collapse:not(:checked)~ .nav-bar-wrapper > .button-container{
        display: none;
        
    }
    .nav{
        border-bottom:#22343D solid 2px;
    }

}